{% extends 'base.html' %}

{% block title %}О мне{% endblock %}
{% block main %}
<section class = "main-block container" id = "course-main-block">
  <div class = "main-block-heading">
    <h1 class = "extra-heading blue-gradient">Кирилл Васильев</h1>
    <ul class = "big-list">
      <li >Фул-стек веб разработчик</li>
      <li >Разработчик телеграмм ботов</li>
      <li >Эксперт по работе с данными</li>
    </ul>
  </div>
</section>
<section class = "contacts">
    <h1 class = "extra-heading">Мои контакты</h1>
    <ul class = "small-block-list">
      <li ><img src = "static/icons/github.png" alt = "Гитхаб">@patrickthesu</li>
      <li ><img src = "static/icons/gmail.png" alt = "Gmail">patrickthesu@gmail.com</li>
      <li ><img src = "static/icons/telegram.png" alt = "Gmail">https://t.me/vasylyev_kirill</li>
      <li ><img src = "static/icons/figma.png" alt = "Figma">@patrickthesu</li>
    </ul>
</section>
<section class = "technologies">
    <h1 class = "extra-heading">Мой стек</h1>
    <ul class = "small-block-list">
      <li>Python<img src = "static/icons/python.png" alt = "Python"></li>
      <li>REST<img src = "static/icons/REST.png" alt = "REST"></li>
      <li>Django<img src = "static/icons/django.png" alt = "Django"></li>
      <li>Html, Css<img src = "static/icons/web.png" alt = "Web"></li>
      <li>C++<img src = "static/icons/cpp.png" alt = "C++<"></li>
      <li>Aiogram<img src = "static/icons/aiogram.png" alt = "Aiogram"></li>
      <li>Qt<img src = "static/icons/qt.png" alt = "Qt"></li>
      <li>JavaScript<img src = "static/icons/javascript.png" alt = "JavaScript"></li>
    </ul>
</section>
<section class = "soft-skills">
    <h1 class = "extra-heading">Личные качества</h1>
    <ul class = "block-list">
      <li>
        <div>
          <h3>Неконфликтный</h3>
          <p>Все конфликты можно решыть без личностных оскорблений. Поэтому если происходят конфликт я всегда выслушаю опонента, и постараюсь прийти к консенсусу.</p>
        </div>
        <img src = "static/illustrations/non-conflict.png">
      </li>
      <li>
        <div>
          <h3>Оратор</h3>
          <p>Ещё со школы я всегда был лицом комманды, и не испытывал проблем с презентацией чего-либо. Также без проблем могу импровизировать. Ходил на курсы оратороского мастерства.</p>
        </div>
        <img src = "static/illustrations/orator.png">
      </li>
      <li>
        <div>
          <h3>Открыт новому</h3>
          <p>Никогда не против изучить что-либо новое. Также готов делится чем-то новым с коммандой.</p>
        </div>
        <img src = "static/illustrations/innovator.png">
      </li>
    </ul>
</section>
    <ul>
</section>
<section class = "about">
    <h1 class = "extra-heading">Обо мне</h1>
    <p class = "big-text">Всем привет, меня зовут Кирилл. Уже 5 лет опыт разработки, из них 2 года коммерческой. В школьные годы был олимпиадником по истории и информатики. Окончил школу с золотой медалью. Сейчас обучайюсь в <a href = "https://mospolytech.ru/">Московском Политехе</a>, 2 курс, специльность - Информационные технологии управления бизнессом. Паралельно с учебой я выполняю заказы на фрилансе. Люблю путишествовать и рок. Состоял в двух рок группах.</p>
</section>
{% endblock %}
