.text-bg-light-gray {
    background: #eaecf0;
}

.headline {
    background-color: #FFDB85;
}

.text-blue {
    color:#84dbff;
}

.technology .img-fluid {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.modal_text {
    color: #FFDB85;
    font-size: 1.25rem;
    font-weight: bold;
}

.h-300 {
    height: 300px;
}
